name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  curseforge:
    environment: gradle
    name: Create CurseForge Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build & Release
        uses: eskatos/gradle-command-action@v1.3.3
        with:
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: false
          wrapper-directory: ./gradle/wrapper
          gradle-executable: ./gradlew
          arguments: curseforge --no-daemon --max-workers 1 -PcurseforgeToken=${{secrets.CURSEFORGETOKEN}}
      - name: Upload jar
        uses: actions/upload-artifact@v2
        with:
          name: topaddons.jar
          path: build/libs/topaddons*.jar
  github:
    name: Create GitHub Release
    needs: curseforge
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: topaddons.jar
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: topaddons.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}